*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    /* width: 1280px; */
    margin: 0 auto;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header {
width: 1280px;
}

.logo{
display: flex;
justify-content: flex-start;
margin-bottom: 40px;
}
    
.logo a {
color: #000000;
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 94px;
text-decoration: none;
}
.logo span {
color: #4BCAFF;
}
.header-menu {
width: 100%;
height: 69px;
}
.menu {
display: flex;
justify-content: center;
align-items: center;
list-style: none;
font-size: 24px;
background: #35444F;
}

.menu-item { 
display: flex;
align-items: center;
padding-top: 24px;
padding-bottom: 18px;
border-left: solid 1px white;
text-align: center;
padding-left: 50px;
padding-right: 50px;

}
.menu-item:hover {
background-color: #222F3A;
}
.menu-item:last-child {
border-right: solid 1px white;
}
.menu-link {
align-items: flex-end;
font-size: 24px;
line-height: 28px;
text-decoration: none;
color: #DBDBDB;
}

.main-menu-item:last-of-type { 
border-right: 1px solid white;
}

.main {
display: flex;
flex-direction: row-reverse;
justify-items: center;
align-content: center;
margin-top: 48px;
width: 1280px;
}

 .main-container {
flex-direction: column;
color: #2C2C2C;
width: 885px;

}
.img-container{
display: flex;
justify-content: center;
align-items: center;
border: 1px solid grey;
height: 529px;
margin-bottom: 37px;
}

.image {
display: flex;
justify-content: center;
align-content: center;
}

.image:hover {
transform: scale(1.2);
transition: 1s;
}

.text-box{
width: 885px;
font-size: 18px;
line-height: 24px;
}
    
.text-box p{
margin-top: 35px;
}
.text-box p:last-child{
margin-bottom: 55px;
}
    
.sidebar {
width: 350px;
display: flex;
margin-right: 52px;
}

.navbar {
width: 350px;
height: 400px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
line-height: normal;
border: 1px solid grey;
}

.nav p {
cursor: pointer; 
font-size: 27px;
color: #495863;
}
.nav-item {
font-weight: 400;
font-size: 27px;
line-height: 27px;
padding-left: 44px;
padding-top: 25px;
padding-bottom: 25px;
}

.nav li:last-child{
    padding-bottom 
}
.nav-item:hover {
display: flex;
align-items: center;
justify-content: center;
height: 80px; 
color: #000;
background: #DBDBDB;
padding: 27px 78px 27px 38px;
transition: 0.3s;

}
.nav-item-active p {
padding-left: 44px;
font-weight: 400;
font-size: 27px;
line-height: 27px;
}
.nav-link {
    text-decoration: none;
   color: #495863;

}
.footer {
width: 1280px;
background: rgba(99, 105, 110, 0.48);
display: flex;
align-items: center;
}

.footer-menu {
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 28px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 40px;
width: 875px;
height: 70px;

}

.footer-link {
text-decoration: none;
color: #0C1927;
}
.footer-link:hover {
color: #3181A6;
padding-bottom: 10px;
border-bottom: 1px solid #3181A6;
cursor: pointer; 


}
.copyright {
margin-left: 135px;
margin-right: 40px;
font-size: 24px;
line-height: 24px;
color: #010101;
padding: 0;
}  